body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.main{
    display: grid;
    grid-template-rows: 1fr 8fr;
    height: 100vh;
    position: relative;
}

header{
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,12%));
    gap: 25px;
}

svg{
    width: 45px;
    height: auto;
}

h1{
    color: white;
    margin: 0;
}

dialog{
    position: absolute;
    border-radius: 10px;
}

dialog form ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label{
    display: block;
}

section div{
    padding: 5px;

}

section > div div:nth-child(1){
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

section > div div:nth-child(2) ul{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.number{
    align-self: center;
    font-size: 1.5rem;
}


